@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));
@source "../../../../node_modules/@blocknote/shadcn/src/**/*.{ts,tsx}";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --radius: 0.45rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --collection-blue-default: oklch(0.62 0.19 255);
    --collection-blue-muted: oklch(0.95 0.03 246.94);
    --collection-blue-strong: oklch(0.55 0.17 255);
    --collection-blue-soft: oklch(0.93 0.04 254.3);
    --collection-green-default: oklch(0.68 0.18 150);
    --collection-green-muted: oklch(0.96 0.03 150.14);
    --collection-green-strong: oklch(0.5 0.16 148.96);
    --collection-green-soft: oklch(0.94 0.04 150.07);
    --collection-sky-default: oklch(0.72 0.15 230);
    --collection-sky-muted: oklch(0.98 0.02 221.25);
    --collection-sky-strong: oklch(0.53 0.11 230.36);
    --collection-sky-soft: oklch(0.96 0.03 229.9);
    --collection-purple-default: oklch(0.63 0.2 305);
    --collection-purple-muted: oklch(0.97 0.02 311.54);
    --collection-purple-strong: oklch(0.44 0.15 303.94);
    --collection-purple-soft: oklch(0.95 0.03 305.31);
    --collection-red-default: oklch(0.64 0.21 24);
    --collection-red-muted: oklch(0.96 0.02 24.5);
    --collection-red-strong: oklch(0.57 0.18 24);
    --collection-red-soft: oklch(0.94 0.03 23.81);
    --collection-orange-default: oklch(0.72 0.18 56);
    --collection-orange-muted: oklch(0.98 0.02 62.32);
    --collection-orange-strong: oklch(0.55 0.15 53.64);
    --collection-orange-soft: oklch(0.96 0.03 56.1);
    --collection-yellow-default: oklch(0.78 0.16 92);
    --collection-yellow-muted: oklch(0.98 0.03 92);
    --collection-yellow-strong: oklch(0.47 0.1 91.32);
    --collection-yellow-soft: oklch(0.96 0.04 91.88);
    --collection-gray-default: oklch(0.63 0.01 255);
    --collection-gray-muted: oklch(0.98 0 0);
    --collection-gray-strong: oklch(0.26 0 0);
    --collection-gray-soft: oklch(0.95 0 0);
    --collection-olive-default: oklch(0.62 0.09 118);
    --collection-olive-muted: oklch(0.95 0.018 118);
    --collection-olive-strong: oklch(0.5 0.075 118);
    --collection-olive-soft: oklch(0.88 0.025 118);
    --collection-pink-default: oklch(0.72 0.2 354);
    --collection-pink-muted: oklch(0.975 0.03 354);
    --collection-pink-strong: oklch(0.6 0.17 354);
    --collection-pink-soft: oklch(0.95 0.04 352.13);
    --collection-brown-default: oklch(0.62 0.06 58);
    --collection-brown-muted: oklch(0.95 0.012 58);
    --collection-brown-strong: oklch(0.33 0.06 56.92);
    --collection-brown-soft: oklch(0.92 0.02 58.34);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.87 0 0);
    --chart-2: oklch(0.556 0 0);
    --chart-3: oklch(0.439 0 0);
    --chart-4: oklch(0.371 0 0);
    --chart-5: oklch(0.269 0 0);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
    --collection-blue-default: oklch(0.5 0.14 255);
    --collection-blue-muted: oklch(0.23 0.03 255.25);
    --collection-blue-strong: oklch(0.67 0.1 254.7);
    --collection-blue-soft: oklch(0.28 0.05 254.99);
    --collection-green-default: oklch(0.5 0.13 150);
    --collection-green-muted: oklch(0.24 0.04 150.02);
    --collection-green-strong: oklch(0.68 0.08 149.68);
    --collection-green-soft: oklch(0.28 0.04 150.06);
    --collection-sky-default: oklch(0.54 0.11 230);
    --collection-sky-muted: oklch(0.27 0.03 229.97);
    --collection-sky-strong: oklch(0.7 0.07 230.2);
    --collection-sky-soft: oklch(0.3 0.04 229.99);
    --collection-purple-default: oklch(0.49 0.15 305);
    --collection-purple-muted: oklch(0.25 0.04 305.28);
    --collection-purple-strong: oklch(0.59 0.11 303.77);
    --collection-purple-soft: oklch(0.29 0.04 305.44);
    --collection-red-default: oklch(0.5 0.16 24);
    --collection-red-muted: oklch(0.24 0.04 23.95);
    /* --collection-red-strong: oklch(0.84 0.08 24); */
    --collection-red-strong: oklch(0.6 0.14 26.34);
    --collection-red-soft: oklch(0.27 0.05 23.99);
    --collection-orange-default: oklch(0.58 0.14 56);
    --collection-orange-muted: oklch(0.26 0.04 56.23);
    --collection-orange-strong: oklch(0.71 0.1 55.63);
    --collection-orange-soft: oklch(0.3 0.04 56.09);
    --collection-yellow-default: oklch(0.58 0.12 92);
    --collection-yellow-muted: oklch(0.28 0.04 92);
    --collection-yellow-strong: oklch(0.72 0.09 92.21);
    --collection-yellow-soft: oklch(0.31 0.04 91.97);
    --collection-gray-default: oklch(0.48 0.008 255);
    --collection-gray-muted: oklch(0.22 0 0);
    --collection-gray-strong: oklch(0.76 0.02 254.85);
    --collection-gray-soft: oklch(0.26 0 0);
    --collection-olive-default: oklch(0.48 0.07 118);
    --collection-olive-muted: oklch(0.29 0.025 118);
    --collection-olive-strong: oklch(0.81 0.045 118);
    --collection-olive-soft: oklch(0.36 0.035 118);
    --collection-pink-default: oklch(0.56 0.16 354);
    --collection-pink-muted: oklch(0.28 0.04 353.87);
    --collection-pink-strong: oklch(0.75 0.07 354.27);
    --collection-pink-soft: oklch(0.31 0.05 353.81);
    --collection-brown-default: oklch(0.54 0.045 58);
    --collection-brown-muted: oklch(0.24 0.01 58.04);
    --collection-brown-strong: lab(68 9.22 16.16);
    --collection-brown-soft: oklch(0.27 0.02 58.05);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) * 0.6);
    --radius-md: calc(var(--radius) * 0.8);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) * 1.4);
    --radius-2xl: calc(var(--radius) * 1.8);
    --radius-3xl: calc(var(--radius) * 2.2);
    --radius-4xl: calc(var(--radius) * 2.6);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-collection-blue-default: var(--collection-blue-default);
    --color-collection-blue-muted: var(--collection-blue-muted);
    --color-collection-blue-strong: var(--collection-blue-strong);
    --color-collection-blue-soft: var(--collection-blue-soft);
    --color-collection-green-default: var(--collection-green-default);
    --color-collection-green-muted: var(--collection-green-muted);
    --color-collection-green-strong: var(--collection-green-strong);
    --color-collection-green-soft: var(--collection-green-soft);
    --color-collection-sky-default: var(--collection-sky-default);
    --color-collection-sky-muted: var(--collection-sky-muted);
    --color-collection-sky-strong: var(--collection-sky-strong);
    --color-collection-sky-soft: var(--collection-sky-soft);
    --color-collection-purple-default: var(--collection-purple-default);
    --color-collection-purple-muted: var(--collection-purple-muted);
    --color-collection-purple-strong: var(--collection-purple-strong);
    --color-collection-purple-soft: var(--collection-purple-soft);
    --color-collection-red-default: var(--collection-red-default);
    --color-collection-red-muted: var(--collection-red-muted);
    --color-collection-red-strong: var(--collection-red-strong);
    --color-collection-red-soft: var(--collection-red-soft);
    --color-collection-orange-default: var(--collection-orange-default);
    --color-collection-orange-muted: var(--collection-orange-muted);
    --color-collection-orange-strong: var(--collection-orange-strong);
    --color-collection-orange-soft: var(--collection-orange-soft);
    --color-collection-yellow-default: var(--collection-yellow-default);
    --color-collection-yellow-muted: var(--collection-yellow-muted);
    --color-collection-yellow-strong: var(--collection-yellow-strong);
    --color-collection-yellow-soft: var(--collection-yellow-soft);
    --color-collection-gray-default: var(--collection-gray-default);
    --color-collection-gray-muted: var(--collection-gray-muted);
    --color-collection-gray-strong: var(--collection-gray-strong);
    --color-collection-gray-soft: var(--collection-gray-soft);
    --color-collection-olive-default: var(--collection-olive-default);
    --color-collection-olive-muted: var(--collection-olive-muted);
    --color-collection-olive-strong: var(--collection-olive-strong);
    --color-collection-olive-soft: var(--collection-olive-soft);
    --color-collection-pink-default: var(--collection-pink-default);
    --color-collection-pink-muted: var(--collection-pink-muted);
    --color-collection-pink-strong: var(--collection-pink-strong);
    --color-collection-pink-soft: var(--collection-pink-soft);
    --color-collection-brown-default: var(--collection-brown-default);
    --color-collection-brown-muted: var(--collection-brown-muted);
    --color-collection-brown-strong: var(--collection-brown-strong);
    --color-collection-brown-soft: var(--collection-brown-soft);
    --font-sans: var(--font-sans);
    --font-heading: var(--font-heading);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    *:not([data-radix-menu-content]):not([data-day]):focus-visible {
        outline: none !important;
        box-shadow: none !important;
        --tw-ring-offset-width: 0px !important;
        --tw-ring-width: 0px !important;
    }

    button:not(disabled) {
        cursor: pointer;
    }
    select:not(disabled) {
        cursor: pointer;
    }

    body {
        @apply bg-background text-foreground;
    }

    .bn-shadcn * {
        @apply border-border outline-ring/50;
    }
}

@layer utilities {
    .cb-label-blue {
        @apply bg-collection-blue-muted text-collection-blue-strong;
    }

    .cb-label-green {
        @apply bg-collection-green-muted text-collection-green-strong;
    }

    .cb-label-sky {
        @apply bg-collection-sky-muted text-collection-sky-strong;
    }

    .cb-label-purple {
        @apply bg-collection-purple-muted text-collection-purple-strong;
    }

    .cb-label-red {
        @apply bg-collection-red-muted text-collection-red-strong;
    }

    .cb-label-orange {
        @apply bg-collection-orange-muted text-collection-orange-strong;
    }

    .cb-label-yellow {
        @apply bg-collection-yellow-muted text-collection-yellow-strong;
    }

    .cb-label-gray {
        @apply bg-collection-gray-muted text-collection-gray-strong;
    }

    .cb-label-olive {
        @apply bg-collection-olive-muted text-collection-olive-strong;
    }

    .cb-label-pink {
        @apply bg-collection-pink-muted text-collection-pink-strong;
    }

    .cb-label-brown {
        @apply bg-collection-brown-muted text-collection-brown-strong;
    }

    .cb-palette-blue {
        @apply border border-collection-blue-soft bg-collection-blue-muted text-collection-blue-strong;
    }

    .cb-palette-green {
        @apply border border-collection-green-soft bg-collection-green-muted text-collection-green-strong;
    }

    .cb-palette-sky {
        @apply border border-collection-sky-soft bg-collection-sky-muted text-collection-sky-strong;
    }

    .cb-palette-purple {
        @apply border border-collection-purple-soft bg-collection-purple-muted text-collection-purple-strong;
    }

    .cb-palette-red {
        @apply border border-collection-red-soft bg-collection-red-muted text-collection-red-strong;
    }

    .cb-palette-orange {
        @apply border border-collection-orange-soft bg-collection-orange-muted text-collection-orange-strong;
    }

    .cb-palette-yellow {
        @apply border border-collection-yellow-soft bg-collection-yellow-muted text-collection-yellow-strong;
    }

    .cb-palette-gray {
        @apply border border-collection-gray-soft bg-collection-gray-muted text-collection-gray-strong;
    }

    .cb-palette-olive {
        @apply border border-collection-olive-soft bg-collection-olive-muted text-collection-olive-strong;
    }

    .cb-palette-pink {
        @apply border border-collection-pink-soft bg-collection-pink-muted text-collection-pink-strong;
    }

    .cb-palette-brown {
        @apply border border-collection-brown-soft bg-collection-brown-muted text-collection-brown-strong;
    }

    .cb-dot-blue {
        @apply bg-collection-blue-default;
    }

    .cb-dot-green {
        @apply bg-collection-green-default;
    }

    .cb-dot-sky {
        @apply bg-collection-sky-default;
    }

    .cb-dot-purple {
        @apply bg-collection-purple-default;
    }

    .cb-dot-red {
        @apply bg-collection-red-default;
    }

    .cb-dot-orange {
        @apply bg-collection-orange-default;
    }

    .cb-dot-yellow {
        @apply bg-collection-yellow-default;
    }

    .cb-dot-gray {
        @apply bg-collection-gray-default;
    }

    .cb-dot-olive {
        @apply bg-collection-olive-default;
    }

    .cb-dot-pink {
        @apply bg-collection-pink-default;
    }

    .cb-dot-brown {
        @apply bg-collection-brown-default;
    }

    .cb-checkbox-blue {
        @apply border-collection-blue-soft bg-collection-blue-muted text-collection-blue-strong hover:border-collection-blue-default/60 not-data-checked:hover:bg-collection-blue-soft/55 disabled:border-collection-blue-soft/70 disabled:bg-collection-blue-muted/60 disabled:text-collection-blue-strong/70 dark:border-collection-blue-soft dark:bg-collection-blue-muted dark:text-collection-blue-strong dark:disabled:border-collection-blue-soft/70 dark:disabled:bg-collection-blue-muted/60 dark:disabled:text-collection-blue-strong/70 data-checked:border-collection-blue-default data-checked:bg-collection-blue-default data-checked:text-white dark:data-checked:border-collection-blue-default dark:data-checked:bg-collection-blue-default dark:data-checked:text-white;
    }

    .cb-checkbox-green {
        @apply border-collection-green-soft bg-collection-green-muted text-collection-green-strong hover:border-collection-green-default/60 not-data-checked:hover:bg-collection-green-soft/55 disabled:border-collection-green-soft/70 disabled:bg-collection-green-muted/60 disabled:text-collection-green-strong/70 dark:border-collection-green-soft dark:bg-collection-green-muted dark:text-collection-green-strong dark:disabled:border-collection-green-soft/70 dark:disabled:bg-collection-green-muted/60 dark:disabled:text-collection-green-strong/70 data-checked:border-collection-green-default data-checked:bg-collection-green-default data-checked:text-white dark:data-checked:border-collection-green-default dark:data-checked:bg-collection-green-default dark:data-checked:text-white;
    }

    .cb-checkbox-sky {
        @apply border-collection-sky-soft bg-collection-sky-muted text-collection-sky-strong hover:border-collection-sky-default/60 not-data-checked:hover:bg-collection-sky-soft/55 disabled:border-collection-sky-soft/70 disabled:bg-collection-sky-muted/60 disabled:text-collection-sky-strong/70 dark:border-collection-sky-soft dark:bg-collection-sky-muted dark:text-collection-sky-strong dark:disabled:border-collection-sky-soft/70 dark:disabled:bg-collection-sky-muted/60 dark:disabled:text-collection-sky-strong/70 data-checked:border-collection-sky-default data-checked:bg-collection-sky-default data-checked:text-white dark:data-checked:border-collection-sky-default dark:data-checked:bg-collection-sky-default dark:data-checked:text-white;
    }

    .cb-checkbox-purple {
        @apply border-collection-purple-soft bg-collection-purple-muted text-collection-purple-strong hover:border-collection-purple-default/60 not-data-checked:hover:bg-collection-purple-soft/55 disabled:border-collection-purple-soft/70 disabled:bg-collection-purple-muted/60 disabled:text-collection-purple-strong/70 dark:border-collection-purple-soft dark:bg-collection-purple-muted dark:text-collection-purple-strong dark:disabled:border-collection-purple-soft/70 dark:disabled:bg-collection-purple-muted/60 dark:disabled:text-collection-purple-strong/70 data-checked:border-collection-purple-default data-checked:bg-collection-purple-default data-checked:text-white dark:data-checked:border-collection-purple-default dark:data-checked:bg-collection-purple-default dark:data-checked:text-white;
    }

    .cb-checkbox-red {
        @apply border-collection-red-soft bg-collection-red-muted text-collection-red-strong hover:border-collection-red-default/60 not-data-checked:hover:bg-collection-red-soft/55 disabled:border-collection-red-soft/70 disabled:bg-collection-red-muted/60 disabled:text-collection-red-strong/70 dark:border-collection-red-soft dark:bg-collection-red-muted dark:text-collection-red-strong dark:disabled:border-collection-red-soft/70 dark:disabled:bg-collection-red-muted/60 dark:disabled:text-collection-red-strong/70 data-checked:border-collection-red-default data-checked:bg-collection-red-default data-checked:text-white dark:data-checked:border-collection-red-default dark:data-checked:bg-collection-red-default dark:data-checked:text-white;
    }

    .cb-checkbox-orange {
        @apply border-collection-orange-soft bg-collection-orange-muted text-collection-orange-strong hover:border-collection-orange-default/60 not-data-checked:hover:bg-collection-orange-soft/55 disabled:border-collection-orange-soft/70 disabled:bg-collection-orange-muted/60 disabled:text-collection-orange-strong/70 dark:border-collection-orange-soft dark:bg-collection-orange-muted dark:text-collection-orange-strong dark:disabled:border-collection-orange-soft/70 dark:disabled:bg-collection-orange-muted/60 dark:disabled:text-collection-orange-strong/70 data-checked:border-collection-orange-default data-checked:bg-collection-orange-default data-checked:text-white dark:data-checked:border-collection-orange-default dark:data-checked:bg-collection-orange-default dark:data-checked:text-white;
    }

    .cb-checkbox-yellow {
        @apply border-collection-yellow-soft bg-collection-yellow-muted text-collection-yellow-strong hover:border-collection-yellow-default/60 not-data-checked:hover:bg-collection-yellow-soft/55 disabled:border-collection-yellow-soft/70 disabled:bg-collection-yellow-muted/60 disabled:text-collection-yellow-strong/70 dark:border-collection-yellow-soft dark:bg-collection-yellow-muted dark:text-collection-yellow-strong dark:disabled:border-collection-yellow-soft/70 dark:disabled:bg-collection-yellow-muted/60 dark:disabled:text-collection-yellow-strong/70 data-checked:border-collection-yellow-default data-checked:bg-collection-yellow-default data-checked:text-white dark:data-checked:border-collection-yellow-default dark:data-checked:bg-collection-yellow-default dark:data-checked:text-white;
    }

    .cb-checkbox-gray {
        @apply border-collection-gray-soft bg-collection-gray-muted text-collection-gray-strong hover:border-collection-gray-default/60 not-data-checked:hover:bg-collection-gray-soft/55 disabled:border-collection-gray-soft/70 disabled:bg-collection-gray-muted/60 disabled:text-collection-gray-strong/70 dark:border-collection-gray-soft dark:bg-collection-gray-muted dark:text-collection-gray-strong dark:disabled:border-collection-gray-soft/70 dark:disabled:bg-collection-gray-muted/60 dark:disabled:text-collection-gray-strong/70 data-checked:border-collection-gray-default data-checked:bg-collection-gray-default data-checked:text-white dark:data-checked:border-collection-gray-default dark:data-checked:bg-collection-gray-default dark:data-checked:text-white;
    }

    .cb-checkbox-olive {
        @apply border-collection-olive-soft bg-collection-olive-muted text-collection-olive-strong hover:border-collection-olive-default/60 not-data-checked:hover:bg-collection-olive-soft/55 disabled:border-collection-olive-soft/70 disabled:bg-collection-olive-muted/60 disabled:text-collection-olive-strong/70 dark:border-collection-olive-soft dark:bg-collection-olive-muted dark:text-collection-olive-strong dark:disabled:border-collection-olive-soft/70 dark:disabled:bg-collection-olive-muted/60 dark:disabled:text-collection-olive-strong/70 data-checked:border-collection-olive-default data-checked:bg-collection-olive-default data-checked:text-white dark:data-checked:border-collection-olive-default dark:data-checked:bg-collection-olive-default dark:data-checked:text-white;
    }

    .cb-checkbox-pink {
        @apply border-collection-pink-soft bg-collection-pink-muted text-collection-pink-strong hover:border-collection-pink-default/60 not-data-checked:hover:bg-collection-pink-soft/55 disabled:border-collection-pink-soft/70 disabled:bg-collection-pink-muted/60 disabled:text-collection-pink-strong/70 dark:border-collection-pink-soft dark:bg-collection-pink-muted dark:text-collection-pink-strong dark:disabled:border-collection-pink-soft/70 dark:disabled:bg-collection-pink-muted/60 dark:disabled:text-collection-pink-strong/70 data-checked:border-collection-pink-default data-checked:bg-collection-pink-default data-checked:text-white dark:data-checked:border-collection-pink-default dark:data-checked:bg-collection-pink-default dark:data-checked:text-white;
    }

    .cb-checkbox-brown {
        @apply border-collection-brown-soft bg-collection-brown-muted text-collection-brown-strong hover:border-collection-brown-default/60 not-data-checked:hover:bg-collection-brown-soft/55 disabled:border-collection-brown-soft/70 disabled:bg-collection-brown-muted/60 disabled:text-collection-brown-strong/70 dark:border-collection-brown-soft dark:bg-collection-brown-muted dark:text-collection-brown-strong dark:disabled:border-collection-brown-soft/70 dark:disabled:bg-collection-brown-muted/60 dark:disabled:text-collection-brown-strong/70 data-checked:border-collection-brown-default data-checked:bg-collection-brown-default data-checked:text-white dark:data-checked:border-collection-brown-default dark:data-checked:bg-collection-brown-default dark:data-checked:text-white;
    }

    .cb-event-blue {
        @apply !border-collection-blue-soft !bg-collection-blue-muted !text-collection-blue-strong hover:!bg-collection-blue-soft;
    }

    .cb-event-hover-blue {
        @apply !bg-collection-blue-soft;
    }

    .cb-event-green {
        @apply !border-collection-green-soft !bg-collection-green-muted !text-collection-green-strong hover:!bg-collection-green-soft;
    }

    .cb-event-hover-green {
        @apply !bg-collection-green-soft;
    }

    .cb-event-sky {
        @apply !border-collection-sky-soft !bg-collection-sky-muted !text-collection-sky-strong hover:!bg-collection-sky-soft;
    }

    .cb-event-hover-sky {
        @apply !bg-collection-sky-soft;
    }

    .cb-event-purple {
        @apply !border-collection-purple-soft !bg-collection-purple-muted !text-collection-purple-strong hover:!bg-collection-purple-soft;
    }

    .cb-event-hover-purple {
        @apply !bg-collection-purple-soft;
    }

    .cb-event-red {
        @apply !border-collection-red-soft !bg-collection-red-muted !text-collection-red-strong hover:!bg-collection-red-soft;
    }

    .cb-event-hover-red {
        @apply !bg-collection-red-soft;
    }

    .cb-event-orange {
        @apply !border-collection-orange-soft !bg-collection-orange-muted !text-collection-orange-strong hover:!bg-collection-orange-soft;
    }

    .cb-event-hover-orange {
        @apply !bg-collection-orange-soft;
    }

    .cb-event-yellow {
        @apply !border-collection-yellow-soft !bg-collection-yellow-muted !text-collection-yellow-strong hover:!bg-collection-yellow-soft;
    }

    .cb-event-hover-yellow {
        @apply !bg-collection-yellow-soft;
    }

    .cb-event-gray {
        @apply !border-collection-gray-soft !bg-collection-gray-muted !text-collection-gray-strong hover:!bg-collection-gray-soft;
    }

    .cb-event-hover-gray {
        @apply !bg-collection-gray-soft;
    }

    .cb-event-olive {
        @apply !border-collection-olive-soft !bg-collection-olive-muted !text-collection-olive-strong hover:!bg-collection-olive-soft;
    }

    .cb-event-hover-olive {
        @apply !bg-collection-olive-soft;
    }

    .cb-event-pink {
        @apply !border-collection-pink-soft !bg-collection-pink-muted !text-collection-pink-strong hover:!bg-collection-pink-soft;
    }

    .cb-event-hover-pink {
        @apply !bg-collection-pink-soft;
    }

    .cb-event-brown {
        @apply !border-collection-brown-soft !bg-collection-brown-muted !text-collection-brown-strong hover:!bg-collection-brown-soft;
    }

    .cb-event-hover-brown {
        @apply !bg-collection-brown-soft;
    }

    .pointer-events-all {
        pointer-events: all;
    }
}
